.leftbar__Friend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.leftbar__FriendImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; 
}